<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>King</key>
	<dict>
		<key>mass</key>
		<integer>5</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<integer>3</integer>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>50</string>
		<key>maxhealthPoint</key>
		<string>50</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>Pawn</key>
	<dict>
		<key>mass</key>
		<integer>15</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<real>2.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>Elephant</key>
	<dict>
		<key>mass</key>
		<integer>15</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<real>7.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>Rook</key>
	<dict>
		<key>mass</key>
		<integer>10</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<real>7.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>Canon</key>
	<dict>
		<key>mass</key>
		<integer>5</integer>
		<key>damping</key>
		<real>4.5</real>
		<key>restitution</key>
		<real>1</real>
		<key>impulse</key>
		<real>2.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>Knight</key>
	<dict>
		<key>mass</key>
		<integer>5</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<real>1.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
	<key>General</key>
	<dict>
		<key>mass</key>
		<integer>15</integer>
		<key>damping</key>
		<integer>5</integer>
		<key>restitution</key>
		<real>0.5</real>
		<key>impulse</key>
		<real>2.5</real>
		<key>radius</key>
		<string>20</string>
		<key>healthPoint</key>
		<string>10</string>
		<key>maxhealthPoint</key>
		<string>10</string>
		<key>angularDamping</key>
		<string>7</string>
	</dict>
</dict>
</plist>
